In [1]:
import pandas as pd
import os
import numpy as np

In [46]:
def closest_grid(lat, lon, grids):
    point = np.array([float(lat), float(lon)])
    min_dist = 1_000_000_000_000
    for grid in grids:
        lat, lon = grid.replace('GRID_', '').split('|')
        grid_array = np.array([float(lat), float(lon)])
        dist = np.sum((point - grid_array)**2)
        if dist < min_dist:
            min_dist = dist
            best_grid = grid
    return best_grid

In [7]:
pre_df = pd.read_csv(r"C:\Users\olive\Documents\GitHub\MilaClimateChangeHackathon2019\data\prepared_precipitation_data.csv",
                    index_col=0)

In [10]:
grids = [x for x in pre_df.columns if 'GRID_' in x]

In [54]:
acc_df = pd.read_csv(r"C:\Users\olive\Documents\GitHub\MilaClimateChangeHackathon2019\data\Accident_DataResponse.csv",
                    index_col=0)

In [55]:
acc_df.head()

,Date of collision,Implied vehicules,Death accident,Serious injury,Light injury,Year of collision,Total victims,Trucks and car,Heavy tractor,Tool equipment,...,Bicycle death,Bicycle injury,Bicycle victims,Longitude,Latitude,Severity: Inferior damages,Severity: Material damages,Severity: Serious injury,Severity: Light injury,Severity: Death
index,,,,,,,,,,,,,,,,,,,,,
0,2012-02-01,2,0,0,0,2012,0,1,0,0,...,0,0,0,-73.861616,45.455504,1,0,0,0,0
1,2012-06-02,1,0,0,0,2012,0,1,0,0,...,0,0,0,-73.716033,45.487715,0,1,0,0,0
2,2012-06-28,2,0,0,0,2012,0,1,0,0,...,0,0,0,-73.682786,45.514324,1,0,0,0,0
3,2012-07-11,2,0,0,0,2012,0,1,0,0,...,0,0,0,-73.576472,45.492212,1,0,0,0,0
4,2012-01-02,2,0,0,0,2012,0,1,0,0,...,0,0,0,-73.850114,45.489319,0,1,0,0,0

In [56]:
acc_df['Grid'] = acc_df.apply(lambda row: closest_grid(row['Latitude'], row['Longitude'], grids), axis=1)

In [58]:
acc_df.to_csv(r"C:\Users\olive\Documents\GitHub\MilaClimateChangeHackathon2019\data\Accident_ResponseData_WithGrids.csv")

In [59]:
acc_df.head()

,Date of collision,Implied vehicules,Death accident,Serious injury,Light injury,Year of collision,Total victims,Trucks and car,Heavy tractor,Tool equipment,...,Bicycle injury,Bicycle victims,Longitude,Latitude,Severity: Inferior damages,Severity: Material damages,Severity: Serious injury,Severity: Light injury,Severity: Death,Grid
index,,,,,,,,,,,,,,,,,,,,,
0,2012-02-01,2,0,0,0,2012,0,1,0,0,...,0,0,-73.861616,45.455504,1,0,0,0,0,GRID_45.458333155|-73.875002685
1,2012-06-02,1,0,0,0,2012,0,1,0,0,...,0,0,-73.716033,45.487715,0,1,0,0,0,GRID_45.458333155|-73.70833602500002
2,2012-06-28,2,0,0,0,2012,0,1,0,0,...,0,0,-73.682786,45.514324,1,0,0,0,0,GRID_45.541666485|-73.70833602500002
3,2012-07-11,2,0,0,0,2012,0,1,0,0,...,0,0,-73.576472,45.492212,1,0,0,0,0,GRID_45.458333155|-73.625002695
4,2012-01-02,2,0,0,0,2012,0,1,0,0,...,0,0,-73.850114,45.489319,0,1,0,0,0,GRID_45.458333155|-73.875002685